<div tuiCardLarge>
  <form tuiForm [formRoot]="form">
    <header tuiHeader>
      <h3 tuiTitle>
        Form
        <span tuiSubtitle>Signal Form</span>
      </h3>
    </header>

    <tui-textfield>
      <label tuiLabel>String</label>
      <input tuiInput [formField]="form.string" />
    </tui-textfield>
    <tui-error [formField]="form.string" />

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Textarea</label>-->
    <!--      <textarea tuiTextarea [min]="4" [max]="4" [formField]="form.textarea"></textarea>-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.textarea" />-->

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Number</label>-->
    <!--      <input tuiInputNumber [min]="10" [max]="1000" [formField]="form.number" />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.number" />-->

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Date</label>-->
    <!--      <input tuiInputDate [formField]="form.date" />-->
    <!--      <tui-calendar *tuiDropdown />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.date" />-->

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Date multi</label>-->
    <!--      <input tuiInputDateMulti [formField]="form.dateMulti" />-->
    <!--      <tui-calendar *tuiDropdown />-->
    <!--      <tui-input-chip *tuiItem />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.dateMulti" />-->

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Date range</label>-->
    <!--      <input tuiInputDateRange [formField]="form.dateRange" />-->
    <!--      <tui-calendar-range *tuiDropdown />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.dateRange" />-->

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Date time</label>-->
    <!--      <input tuiInputDateTime [formField]="form.dateTime" />-->
    <!--      <tui-calendar *tuiDropdown />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.dateTime" />-->

    <tui-textfield>
      <label tuiLabel>Month</label>
      <input tuiInputMonth [formField]="form.month" />
      <tui-calendar-month *tuiDropdown />
    </tui-textfield>
    <tui-error [formField]="form.month" />

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Year</label>-->
    <!--      <input tuiInputYear [formField]="form.year" />-->
    <!--      <tui-calendar-year *tuiDropdown />-->
    <!--    </tui-textfield>-->
    <!--    <tui-error [formField]="form.year" />-->

    <tui-textfield>
      <label tuiLabel>Time</label>
      <input tuiInputTime [formField]="form.time" />
    </tui-textfield>
    <tui-error [formField]="form.time" />

    <tui-textfield>
      <label tuiLabel>Phone</label>
      <input tuiInputPhone mask="+7 ### ###-##-##" [formField]="form.phone" />
    </tui-textfield>
    <tui-error [formField]="form.phone" />

    <tui-textfield tuiChevron>
      <label tuiLabel>Select</label>
      <input tuiSelect [formField]="form.select" />
      <tui-data-list-wrapper *tuiDropdown [items]="items" />
    </tui-textfield>
    <tui-error [formField]="form.select" />

    <tui-textfield tuiChevron>
      <label tuiLabel>ComboBox</label>
      <input tuiComboBox [formField]="form.comboBox" />
      <tui-data-list-wrapper *tuiDropdown [items]="items | tuiFilterByInput" />
    </tui-textfield>
    <tui-error [formField]="form.comboBox" />

    <tui-textfield multi tuiChevron>
      <label tuiLabel>Chips</label>
      <input tuiInputChip tuiSelectLike [formField]="form.chips" />
      <tui-data-list-wrapper *tuiDropdown tuiMultiSelectGroup [items]="items" />
    </tui-textfield>
    <tui-error [formField]="form.chips" />

    <!--    <tui-textfield>-->
    <!--      <label tuiLabel>Slider</label>-->
    <!--      <input tuiInputSlider [max]="3000000" [min]="50000" [formField]="form.slider" />-->
    <!--      <div class="ticks-labels">-->
    <!--        <span>from 50 000 ₽</span>-->
    <!--        <span>to 3 000 000 ₽</span>-->
    <!--      </div>-->
    <!--    </tui-textfield>-->

    @if (!form.file().value()) {
      <label tuiInputFiles>
        <input tuiInputFiles accept="image/*" [formField]="form.file" />
      </label>
    }
    <tui-files>
      @if (form.file().value(); as file) {
        <tui-file [file]="file" (remove)="removeFile()" />
      }
    </tui-files>

    <tui-textfield>
      <input tuiInputPin [formField]="form.pin" />
    </tui-textfield>
    <tui-error [formField]="form.pin" />

    <tui-textfield>
      <label tuiLabel>Color</label>
      <input tuiInputColor [formField]="form.color" />
    </tui-textfield>
    <tui-error [formField]="form.color" />

    <tui-textfield>
      <label tuiLabel>Card</label>
      <input tuiInputCard [formField]="form.card" />
    </tui-textfield>
    <tui-error [formField]="form.card" />

    <tui-textfield>
      <label tuiLabel>Expire</label>
      <input tuiInputExpire [formField]="form.expire" />
    </tui-textfield>
    <tui-error [formField]="form.expire" />

    <tui-textfield>
      <label tuiLabel>CVC</label>
      <input tuiInputCVC [formField]="form.cvc" />
    </tui-textfield>
    <tui-error [formField]="form.cvc" />

    <tui-input-inline>
      <input [formField]="form.inline" />
    </tui-input-inline>

    <div tuiGroup [collapsed]="true">
      <label tuiBlock>
        Option 1
        <input tuiRadio type="radio" value="option-1" [formField]="form.radio" [style.margin-inline-start]="'auto'" />
      </label>
      <label tuiBlock>
        Option 2
        <input tuiRadio type="radio" value="option-2" [formField]="form.radio" [style.margin-inline-start]="'auto'" />
      </label>
    </div>

    <label tuiLabel>
      <input tuiSwitch type="checkbox" [formField]="form.switch" />
      Switch
    </label>

    <label tuiLabel>
      <input tuiCheckbox type="checkbox" [formField]="form.firstCheck" />
      First Check
    </label>
    <label tuiLabel>
      <input tuiCheckbox type="checkbox" [formField]="form.secondCheck" />
      Second Check
    </label>

    <footer>
      <button type="submit" tuiButton [loading]="form().submitting()">Submit</button>
      <button type="button" tuiButton (click)="resetForm()">Reset</button>
    </footer>
  </form>
</div>

<div tuiCardLarge>
  <pre>{{ form().value() | json }}</pre>
</div>
