div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
html,
body {
  margin: 0;
  padding: 0;
}

app {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  max-width: 49rem;
  margin-inline: auto;
}

h3 {
  padding-top: 1rem;
  border-top: 1px solid var(--tui-border-normal);
}
